* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-family: "Poppins", sans-serif;
}

body {
    background:#e0d7db;
    color: #222;
    scroll-behavior: smooth;
    
}

/* NAVBAR */
.navbar {
    width: 100%;
    padding: 20px 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    background: #f6f7f7;
    box-shadow: 0 2px 10px rgba(241, 234, 234, 0.925);
    z-index: 10;
}

.navbar .logo {
    background-color: linear-gradient(to right,#d3bad0, rgb(199, 218, 218));
    font-size: 24px;
    font-weight: bold;
}

.navbar ul {
    display: flex;
    list-style: none;
}

.navbar ul li {
    margin-left: 25px;
}

.navbar ul li a {
    text-decoration: none;
    color: #444;
    font-weight: 500;
    transition: 0.3s;
}

.navbar ul li a:hover {
    color: #0a4fff;
}

/* HERO */
.hero {
    height: 100vh;
    padding: 160px 10% 0;
    text-align: center;
    background: linear-gradient(to right,#cea7c9, rgb(172, 221, 221));
    color: rgb(14, 13, 13);
    padding-top: 180px;
}

.hero h1 {
    font-size: 50px;
    font-weight: bold;
}

.hero h1 span {
    color: #0666e2;
}

.hero p {
    margin: 15px 0;
    font-size: 18px;
    text-align: center;
}
p {
 text-align: center;
}

.btn {
    display: inline-block;
    margin-top: 20px;
    padding: 12px 30px;
    background: linear-gradient(to right,#d197ca, rgb(159, 219, 219));
    border-radius: 50px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
    border: 2px;;
}

.btn:hover {
    transform: scale(1.1);
    background:linear-gradient(to right, #5761B2, #1FC5A8);
    color: #f3ecece7;
}

/* ABOUT */
.about, .skills, .projects, .contact {
    padding: 100px 10%;
}

h2 {
    text-align: center;
    color: #0a4fff;
    margin-bottom: 30px;
}
.explore-btn {
 display: inline-block;
 padding: 14px 28px;
 background:linear-gradient(to right, #5761B2, #1FC5A8);
 color: white;
 font-size: 1.1rem;
 font-weight: 600;
 border: none;
 border-radius: 30px;
 cursor: pointer;
 text-decoration: none;
 transition: 0.3s ease;
 box-shadow: 0 4px 15px rgba(0,0,0,0.15);
}

.explore-btn:hover {
 background: rgb(233, 223, 223);
 color: #222;
}

/* SKILLS GRID */
.skills-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    gap: 20px;
}

.skill-box {
    background: white;
    padding: 25px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0px 5px 15px rgba(0,0,0,0.1);
    transition: 0.3s;
}

.skill-box:hover {
    transform: scale(1.05);
     background:linear-gradient(to right, #5761B2, #1FC5A8);
}

.skill-box h3 {
    color: #0a4fff;
    margin-bottom: 10px;
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap: 25px;
    text-align: center;
    margin-top: 20px;
}

.projects-card {
    background: white;
    border-radius: 15px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    transition: 0.3s;
}

.projects-card:hover {
    transform: translateY(-10px);
    background:linear-gradient(to right, #5761B2, #1FC5A8);
}


.projects-card a {
    display: inline-block;
    margin-top: 10px;
    padding: 8px 15px;
    color:#5761B2 ;
    text-decoration: underline;
    border: 15px;
    border-radius: 5px;
}
.projects-card a:hover {
 color: #51c2af;
}

.contact-box {
    max-width: 600px;
    margin: 0 auto;
}

.contact-box form input,
.contact-box form textarea {
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    border-radius: 10px;
    border: 1px solid #ccc;
}
form button{
    padding: 10px 20px;
    background:linear-gradient(to right, #5761B2, #1FC5A8);
    color: rgb(251, 252, 252);
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

form button:hover {
    background: #005f99;
}

.contact-info {
    text-align: center;
    margin-top: 30px;
}
@media (max-width:768px) {
 .navbar {
   flex-direction: column;
   padding: 10px 20px;
   }
  .navbar ul {
    flex-direction: column;
    margin-top: 10px;
    text-align: center;
    gap: 5px;
    }
   .hero {
     padding: 80px 20px 0;
     padding-top: 280px;
    }
        
   }
  @media (max-width: 480px) {
    h1 {
     font-size: 28px;
    }
    h2{
     font-size: 25px;
     }
    }
footer{
    text-align: center;
    padding: 20px;
    background:#5761B2;
    color:aliceblue;
    margin-top: 40px;
}







